include ../bemto/bemto.pug

+b('footer').footer.sharp_blue
  .container
    +e.row
      +e.col._col2._menu
        +e('nav').nav
          +e('ul').list
            +e.item._parent
              +e.item-href(href="#") О компании
            +e.item._parent
              +e.item-href(href="#") Каталог
            +e.item
              +e.item-href(href="#") Потолок
            +e.item
              +e.item-href(href="#") Подвесная система
            +e.item
              +e.item-href(href="#") Светильники
      +e.col._col2._menu
        +e('nav').nav
          +e('ul').list
            +e.item._parent
              +e.item-href(href="#") Применение
            +e.item
              +e.item-href(href="#") Образование
            +e.item
              +e.item-href(href="#") Медицина
            +e.item
              +e.item-href(href="#") Торговля
            +e.item
              +e.item-href(href="#") Офис
            +e.item
              +e.item-href(href="#") Специальные помещения
      +e.col._col2._menu
        +e('nav').nav
          +e('ul').list
            +e.item._parent
              +e.item-href(href="#") Калькулятор
            +e.item
              +e.item-href(href="#") Потолок типа Armstrong 
            +e.item
              +e.item-href(href="#") Потолок Грильято
            +e.item
              +e.item-href(href="#") Потолок Реечный
      +e.col._col2._menu
        +e('nav').nav
          +e('ul').list
            +e.item._parent
              +e.item-href(href="#") Проекты
            +e.item._parent
              +e.item-href(href="#") Контакты
      +e.col._col4
        +e.phones
          +e.phone(href="tel:73512606843") +7 (351) 260-68-43
          +e.phone(href="tel:73512156843") +7 (351) 215-68-43
        +e('p').address Челябинск, ул. Блюхера, 21, оф. 210
        +e.mail(href="mailto:absolut-torg@list.ru") absolut-torg@list.ru
    +e.row
      +e.col._col8
        +e('p').copy © ООО «Смотривверх.рф», 2018
      +e.col._col4
        +e.dextra(href="https://www.dextra.ru/", target="_blank")
          span dextra
          | Разработка<br>сайта