.hidden-block
  .popup__over
    span.popup__bg.js-popbg
    +b.popup.sharp_grey#feed
      +e.close.js-popclose(type="button", title="Закрыть")
      +e('p').title Обратная связь
      +e('p').subtitle Заполните поля ниже и наши менеджеры свяжутся с Вами в самое ближайшее время.
      +e('p').hint Обратите внимание на то, что поля со звёздочкой обязательны для заполнения.
      +e('form').form
        .common__row
          input.common__input(type="text", data-req="req")
          label.common__placeholder Ваше имя
            span *
        .common__row
          input.common__input.js-phone(type="text", data-req="req")
          label.common__placeholder Телефон
            span *
        .common__row
          input.common__input(type="text", data-req="req")
          label.common__placeholder Электронная почта
            span *
        .common__row
          textarea.common__textarea.common__textarea_shorten
          label.common__placeholder Текст сообщения
            span *
        .common__row
          .common__fileover
            input(type="file", name="", data-req="req", data-type="file").common__file#file1.js-common-fileinput
            label(for="file1", data-default="Прикрепить файл").common__filename.js-common-file Прикрепить файл
            button(type="button").common__filedelete.js-common-filedelete
        .common__row
          img(src="img/captcha.png", style="max-width: 100%;")
        .common__row
          .fakecheckbox
            input(type="checkbox", value="", name="agreement", checked)#agreement.fakecheckbox__truecheck
            label(for="agreement").fakecheckbox__label Согласен на 
              a(href="#") обработку персональных данных
        .common__row
          button.common__submit.btn(type="submit") Отправить
    +b.popup.sharp_grey#order
      +e.close.js-popclose(type="button", title="Закрыть")
      +e('p').title Заявка на расчет
      +e('p').subtitle Заполните поля ниже и наши менеджеры свяжутся с Вами в самое ближайшее время.
      +e('p').hint Обратите внимание на то, что поля со звёздочкой обязательны для заполнения.
      +e('form').form
        .common__row
          input.common__input(type="text", data-req="req")
          label.common__placeholder Ваше имя
            span *
        .common__row
          input.common__input.js-phone(type="text", data-req="req")
          label.common__placeholder Телефон
            span *
        .common__row
          input.common__input(type="text", data-req="req")
          label.common__placeholder Электронная почта
            span *
        .common__row
          textarea.common__textarea.common__textarea_shorten
          label.common__placeholder Текст сообщения
            span *
        .common__row
          .common__fileover
            input(type="file", name="", data-req="req", data-type="file").common__file#file1.js-common-fileinput
            label(for="file1", data-default="Прикрепить файл").common__filename.js-common-file Прикрепить файл
            button(type="button").common__filedelete.js-common-filedelete
        .common__row
          img(src="img/captcha.png", style="max-width: 100%;")
        .common__row
          .fakecheckbox
            input(type="checkbox", value="", name="agreement", checked)#agreement.fakecheckbox__truecheck
            label(for="agreement").fakecheckbox__label Согласен на 
              a(href="#") обработку персональных данных
        .common__row
          button.common__submit.btn(type="submit") Отправить
    +b.popup.sharp_grey#call
      +e.close.js-popclose(type="button", title="Закрыть")
      +e('p').title Заказать звонок
      +e('p').subtitle Заполните поля ниже и наши менеджеры свяжутся с Вами в самое ближайшее время.
      +e('p').hint Обратите внимание на то, что поля со звёздочкой обязательны для заполнения.
      +e('form').form
        .common__row
          input.common__input(type="text", data-req="req")
          label.common__placeholder Ваше имя
            span *
        .common__row
          input.common__input.js-phone(type="text", data-req="req")
          label.common__placeholder Телефон
            span *
        .common__row
          img(src="img/captcha.png", style="max-width: 100%;")
        .common__row
          .fakecheckbox
            input(type="checkbox", value="", name="agreement", checked)#agreement.fakecheckbox__truecheck
            label(for="agreement").fakecheckbox__label Согласен на 
              a(href="#") обработку персональных данных
        .common__row
          button.common__submit.btn(type="submit") Отправить
    +b.popup.sharp_grey#text
      +e.close.js-popclose(type="button", title="Закрыть")
      +e('p').title(data-text="Текстовый попап") Текстовый попап
      +e('p').subtitle Обратите внимание на то, что это текстовый попап для того, чтобы показать, что он вообще есть и им можно пользоваться, не боясь!