include bemto/bemto.pug

doctype html
html
  head(lang="ru")
    include layout/__head
  body
    include layout/__header
  
    +b('main').main
      .container
        +b('section').text
          +e.content
            +b('section').breadcrumbs
              +e.href(href="#") Главная
              +e('span').delim / 
            h1 H1 — Заголовок второго уровня, подвесные потолки для кафе и ресторанов
            p Интерьер бара, кафе, ресторана важен не меньше, чем оригинальное меню и качественный сервис. В интерьере ресторана нет мелочей: каждая поверхность должна сочетать стиль и практичность. Подвесной декоративный потолок дает такой результат. Выбрать подходящий потолок несложно – в продаже есть варианты под любой дизайн интерьера, есть материалы с водостойкими, акустическими и другими свойствами.
            p Подвесной потолок состоит из металлокаркаса с антикоррозийным покрытием, на который устанавливаются квадратные либо прямоугольные плиты или узкие длинные рейки. Декоративные панели изготавливаются из минерального волокна, оргстекла или металла. Они бывают гладкими и рельефными, окрашиваются в любые оттенки палитры RAL, крепятся на каркас или укладываются в ячейки. К отдельной категории относятся потолки «Грильято». Объемные панели-соты и встроенные светильники создают оригинальную игру света и тени.
            img(src="img/text.jpg")
            p(style="opacity: .5") Пример оформления подвесного потолка в кафе
            p К отдельной категории относятся потолки «Грильято». Объемные панели-соты и встроенные светильники создают оригинальную игру света и тени. Разнообразие потолков открывает простор для воплощения дизайнерских мыслей. Можно создавать идеально ровные поверхности любой фактуры и цвета или многоуровневые дизайнерские потолки со сложным рельефом. 
            h2 H2 — Заголовок второго уровня в нескольско строк, подвесной потолок для кафе и ресторанов 
            p Зеркальный потолок. Если правильно настроить освещение, отражающая поверхность сделает обеденный зал более просторным и светлым. Зеркальные панели можно вписать и в классическую, и в современную обстановку.
            p Стеклянный подвесной потолок с подсветкой. Межпотолочное пространство – идеальное место для монтажа скрытых светильников, которые расставляют нужные акценты в интерьере. Например, подвесной потолок из матового стекла и рассеянное освещение добавят в интерьер романтики. Яркие цветные панели и динамичный мигающий свет создадут настроение для дискотеки. 
            p
              b Название нумерованного списка
            ol
              li Установка без предварительной подготовки. Чтобы не тратить время и деньги на устранение трещин и неровностей базы, стоит купить подвесной потолок. Система монтируется ниже плит перекрытий и скрывает дефекты. В образовавшемся свободном пространстве можно спрятать электропроводку, трубы, элементы кондиционирования и вентиляции.
              li Прочные материалы. Панели из тонколистовой стали и алюминия прочные и одновременно легкие. Стеклянный или зеркальный подвесной потолок, а также минеральные плиты не рассчитаны на сильные прямые удары, при этом не деформируются в условиях влажности и температурных перепадов. Кроме того, потолки на подвесе легко ремонтировать – поврежденная панель легко заменяется новым элементом;
              li Отличные эксплуатационные характеристики. Металлические, стеклянные и зеркальные навесные потолки устойчивы к влаге, не выгорают от прямых солнечных лучей, не воспламеняются и не распространяют огонь в случае пожара. Для кафе и ресторанов следует выбрать панели с водостойкой пропиткой и огнезащитным покрытием. Если нужны потолки с шумоизоляционными свойствами, обратите внимание на бренды Ecophon и Rockfon, а также на акустические линейки производителей Owa и Armstrong;
            p Витражные потолки. Плиты из фрагментов цветного стекла подойдут для элитного ресторана. Витражная техника – тиффани, контурная заливка, фотопечать, пескоструйный узор – делает потолок дорогим, элегантным и оригинальным.
            p Дизайнерские потолки. Обратите внимание на реечные подвесные системы немецкого бренда OffenDecke – с помощью реек можно создать рельефную многоуровневую поверхность. Чтобы наполнить обеденный зал торжественной атмосферой дворца, выбирайте панели с покрытием под золото, серебро, бронзу.
            p Если для гостевой зоны стоит купить стеклянный потолок, витражную или дизайнерскую конструкцию, то для подсобных помещений подходят более практичные и дешевые варианты. Хороший выбор для пищеблока и кладовых – системы с металлическими кассетами/рейками, желательно с антибактериальным покрытием. В служебных коридорах и административных кабинетах можно использовать плиты из минерального волокна с водостойкой пропиткой и огнеупорным покрытием – они имеют длительный срок службы и отвечают требованиям пожарной безопасности.
            p
              b Название ненумерованного списка
            ul
              li Зеркальный потолок. Если правильно настроить освещение, отражающая поверхность сделает обеденный зал более просторным и светлым. Зеркальные панели можно вписать и в классическую, и в современную обстановку.
              li Стеклянный подвесной потолок с подсветкой. Межпотолочное пространство – идеальное место для монтажа скрытых светильников, которые расставляют нужные акценты в интерьере. Например, подвесной потолок из матового стекла и рассеянное освещение добавят в интерьер романтики. Яркие цветные панели и динамичный мигающий свет создадут настроение для дискотеки.
              li Витражные потолки. Плиты из фрагментов цветного стекла подойдут для элитного ресторана. Витражная техника – тиффани, контурная заливка, фотопечать, пескоструйный узор – делает потолок дорогим, элегантным и оригинальным. 
            p Хороший выбор для пищеблока и кладовых – системы с металлическими кассетами/рейками, желательно с антибактериальным покрытием. В служебных коридорах и административных кабинетах можно использовать плиты из минерального волокна с водостойкой пропиткой и огнеупорным покрытием – они имеют длительный срок службы и отвечают требованиям пожарной безопасности. 
            h3 H3 — Заголовок третьего уровня в нескольско строк, чтобы показать межстрочное расстояние, подвесной потолок для кафе и ресторанов 
            p Подвесной потолок состоит из металлокаркаса с антикоррозийным покрытием, на который устанавливаются квадратные либо прямоугольные плиты или узкие длинные рейки. Декоративные панели изготавливаются из минерального волокна, оргстекла или металла. Они бывают гладкими и рельефными, окрашиваются в любые оттенки палитры RAL, крепятся на каркас или укладываются в ячейки. К отдельной категории относятся потолки «Грильято». Объемные панели-соты и встроенные светильники создают оригинальную игру света и тени.
            p Разнообразие потолков открывает простор для воплощения дизайнерских мыслей. Можно создавать идеально ровные поверхности любой фактуры и цвета или многоуровневые дизайнерские потолки со сложным рельефом. 
            p
              b Название таблицы
            table
              thead
                tr
                  th(style="text-align: center;") №
                  th Вид потолка
                  th Цена
              tbody
                tr
                  td(style="text-align: center;") 1
                  td Реечный
                  td от 500р за кв.м
                tr
                  td(style="text-align: center;") 2
                  td Минеральный
                  td от 350р за кв.м
                tr
                  td(style="text-align: center;") 3
                  td Грильято
                  td от 550р за кв.м
                tr
                  td(style="text-align: center;") 4
                  td Зеркальный
                  td от 1200р за кв.м
                tr
                  td(style="text-align: center;") 5
                  td Стеклянный
                  td от 1200р за кв.м
                tr
                  td(style="text-align: center;") 6
                  td Кассетный
                  td от 350р за кв.м
            p Разнообразие потолков открывает простор для воплощения дизайнерских мыслей. Можно создавать идеально ровные поверхности любой фактуры и цвета или многоуровневые дизайнерские потолки со сложным рельефом. 
            h4 H4 — Заголовок третьего уровня в нескольско строк, чтобы показать межстрочное расстояние, подвесной потолок для кафе и ресторанов 
            p Подвесной потолок состоит из металлокаркаса с антикоррозийным покрытием, на который устанавливаются квадратные либо прямоугольные плиты или узкие длинные рейки. Декоративные панели изготавливаются из минерального волокна, оргстекла или металла. Они бывают гладкими и рельефными, окрашиваются в любые оттенки палитры RAL, крепятся на каркас или укладываются в ячейки. К отдельной категории относятся потолки «Грильято». Объемные панели-соты и встроенные светильники создают оригинальную игру света и тени.
            p Разнообразие потолков открывает простор для воплощения дизайнерских мыслей. Можно создавать идеально ровные поверхности любой фактуры и цвета или многоуровневые дизайнерские потолки со сложным рельефом. 
    include layout/__footer
    include layout/__popup
    include layout/__scripts