.menu
  @media $desktopMin
    pos fixed
    z-index 11
    l -100%
    visibility hidden
    t 0
    opacity 0
    padding 34px 32px
    w 100%
    h 100%
    transition .7s visibility, .7s left, .7s opacity
    overflow-y auto
  @media $PortraitMin
    padding 40px 15px
  &__list
    df(flex-start, space-between)
    @media $desktopMin
      flex-direction column
      pr 0
      w 100%
  &__item
    pos relative
    @media $desktopMin
      w 100%
    &_tablet
      @media $desktopMinFrom
        dn()
    & + &
      ml 19px
      @media $desktopMin
        mt 30px
        ml 0
  &__href
    pos relative
    color black
    fontify 18px 700 18px
    transition .7s color
    white-space nowrap
    @media $lDesktopMax
      fontify 16px 700 16px
    @media $desktopMin
      fontify 24px 600 32px
    @media $lDesktopMaxFrom
      &_sub
        mr 20px
        &:before
          content ""
          pos absolute
          t 12px
          r -21px
          size 10px 6px
          background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGBAMAAAAI3hL1AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAJ1BMVEUAUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ7///89t3OTAAAAC3RSTlMAxscTzc/OFdPUFijyHU4AAAABYktHRAyBs1FjAAAACXBIWXMAAAsSAAALEgHS3X78AAAAB3RJTUUH4wEfCyoTjp7P4gAAAC1JREFUCNdjEDJgYFZk8A5mMNvCULHVOHs6A/vstJ0FDAyVu6czMDCwuyxgAACaLgk4XJZVaAAAAABJRU5ErkJggg==') no-repeat center
    @media $desktopMinFrom
      &_sub
        mr 16px
        &:before
          content ""
          pos absolute
          t 10px
          r -16px
          size 10px 6px
          background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGBAMAAAAI3hL1AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAJ1BMVEUAUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ7///89t3OTAAAAC3RSTlMAxscTzc/OFdPUFijyHU4AAAABYktHRAyBs1FjAAAACXBIWXMAAAsSAAALEgHS3X78AAAAB3RJTUUH4wEfCyoTjp7P4gAAAC1JREFUCNdjEDJgYFZk8A5mMNvCULHVOHs6A/vstJ0FDAyVu6czMDCwuyxgAACaLgk4XJZVaAAAAABJRU5ErkJggg==') no-repeat center
    &_active,
    &:hover
      c $blue
  &__sublist
    @media $desktopMin
      mt 20px
      &_lvl2
        mt 20px
        ml 20px
    @media $desktopMinFrom
      visibility hidden
      opacity 0
      pos absolute
      padding 8px 0
      t 25px
      l 0
      bgc $blue
      box-shadow 0 3px 34.3px 0.7px rgba(112, 118, 126, 0.15)
      transition .3s visibility, .3s opacity, .3s top
      min-width 150px
      &_lvl2
        l 100%
        t -10px
        bgc #0460b7
      ^[0]__item:hover > &
        t 34px
        opacity 1
        visibility visible
        &:before
          content ""
          pos absolute
          l 0
          t -17px
          h 17px
          w 100%
      &-item:hover > &
        t 0
        opacity 1
        visibility visible
    &-item
      @media $desktopMin
        & + &
          mt 20px
    &-href
      db()
      c black
      pos relative
      fontify 18px 400 22px
      transition .7s background, .7s color
      @media $lDesktopMax
        fontify 16px 400 19px
      @media $desktopMinFrom
        c white
        padding 7px 35px 8px 19px
        &_sub:after
          content ""
          pos absolute
          r 20px
          t 50%
          size 6px 10px
          background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAKCAQAAAA9B+e4AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfjAR8LMApa2J35AAAAU0lEQVQI103NMQqDUBRE0fMfqUwfFHcmmDTZmKAuLYq99U/xCGaquXCHKfWtWJ0Q6L3cE1a7R2KpNJ5ah6lUaIw6W/jLzaXNcS2cYfjV1D6WPP0CKO4VmN6PEugAAAAASUVORK5CYII=') no-repeat center
          mt -5px
        &:hover,
        &_active
          bgc $dblue
          color white
      @media $desktopMin
        fontify 20px 400 24px
        &:hover,
        &_active
          color $dblue

.burger
  @media $desktopMinFrom
    dn()
  ml 30px
  &__shadow
    pos fixed
    l 0
    t 0
    transform translateY(100%)
    transition 1s transform, .7s opacity
    will-change transform
    opacity .2
    bgc alpha(white, .9)
    size 100%
    z-index 10
  &__button
    cursor pointer
    w 25px
    h 25px
    pos relative
    z-index 11
    &:before
      content ""
      pos absolute
      t 0
      r 0
      w 25px
      h 1px
      bgc $blue
      transition .5s width, .5s background, .5s transform, .5s top
    &:after
      content ""
      pos absolute
      b 0
      r 0
      w 25px
      h 1px
      bgc $blue
      transition .5s width, .5s background, .5s transform, .5s top  
    &-meat
      content ""
      pos absolute
      t 50%
      r 0
      w 25px
      h 1px
      bgc $blue
      transition .5s width, .5s background, .5s transform, .5s top  
    &.open
      &:before
        animation burger-top 1s ease-in-out forwards
      &:after
        animation burger-bottom 1s ease-in-out forwards
      & ^[-1]-meat
        opacity 0
      & + ^[0]__shadow
        opacity 1
        transform translateY(0)
    &.open.remove
      &:before
        animation burger-top-invert 1s ease-in-out forwards
      &:after
        animation burger-bottom-invert 1s ease-in-out forwards
      & ^[-1]-meat
        opacity 1
        transition .4s opacity .6s

html:not(.touchevents)
  .burger__button
    &:not(.open):hover
      &:before
        animation burger-hover 1s infinite ease-in-out alternate
      &:after
        animation burger-hover 1s infinite ease-in-out alternate forwards 400ms
    &:not(.open):hover &-meat
      animation burger-hover 1s infinite ease-in-out alternate forwards 200ms

@keyframes burger-hover
  0%
    w 100%
  50%
    w 50%
  100%
    w 100%
      
@keyframes burger-top
  0%
    t 0
  40%
    t 12px
  60%
    t 12px
    transform rotate(0)
  100%
    t 12px
    transform rotate(45deg)
    
@keyframes burger-bottom
  0%
    b 0
  40%
    b 12px
  60%
    b 12px
    transform rotate(0)
  100%
    b 12px
    transform rotate(-45deg)

@keyframes burger-top-invert
  0%
    t 12px
    transform rotate(45deg)
  40%
    t 12px
    transform rotate(0)
  60%
    t 12px
  100%
    t 0
    
@keyframes burger-bottom-invert
  0%
    b 12px
    transform rotate(-45deg)
  40%
    b 12px
    transform rotate(0)
  60%
    b 12px
  100%
    b 0

body.burgeropen
  overflow hidden
  .menu
    visibility visible
    opacity 1
    l 0
    transition-delay .7s