.hidden-block
  height 0

.popup
  pos absolute
  z-index 1
  width 95%
  max-width 678px
  bgc white
  box-shadow 0 3px 43px rgba(0, 0, 0, 0.08)
  padding 52px 83px
  opacity 0
  visibility hidden
  transform scale(.9)
  will-change transform
  transition .7s .7s transform, .7s .7s opacity
  @media $LandscapeMedium
    padding 42px 60px
  @media $PortraitMedium
    padding 30px
  &.show
    pos relative
    opacity 1
    visibility visible
    transform scale(1)
  &__over
    dfv(center, flex-start)
    padding 50px 0
    t 0
    l 0
    r 0
    b 0
    pos fixed
    overflow hidden
    z-index -1
  &__bg
    pos fixed
    z-index 0
    l 0
    r 0
    b 0
    h 0
    bgc black
    opacity 0
    transition .7s opacity, .7s height
  &-show
    oh()
    & ^[0]__bg
      h 100%
      opacity .95
    & ^[0]__over
      overflow-y scroll
      z-index 1000
  &__title
    pos relative
    z-index 1
    c $dark
    mb 27px
    fontify 48px 700 48px
    @media $lDesktopMax
      fontify 38px 700 38px
  &__subtitle,
  &__hint
    color $dark
    fontify 18px 400 28px
    @media $lDesktopMax
      fontify 16px 400 26px
  &__subtitle
    mb 12px
  &__hint
    mb 35px
  &__close
    pos absolute
    t 30px
    r 30px
    size 17px 17px
    opacity .7
    background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAQAAACRZI9xAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfjARcMCxxSRfn6AAAAZ0lEQVQoz43S3Q3AIAhG0buDnQc6lO5swhDtQ2PjD9j6xucxEhQgEa8EcFCRAAj1QSfmIsHQVnhoAAA6oQXMyAU9CkFDeQcAMhd5BxSjBCMYetEI9RsumsMFeaeGLLr7zX+99Md/uQFaaijMO9DVBwAAAABJRU5ErkJggg==') no-repeat center
    transition .7s opacity
    &:hover
      opacity 1
  &__form
    mt 15px
    &_search
      pos relative
  &__search
    &-input
      w 100%
      h 40px
      padding 0 60px 0 20px
      border 1px solid #e3e3e3
      bgc transparent
      color black
      font-family $os
      font-size 16px
      line-height 400
      transition .7s border
      &:focus
        border-color $blue
    &-sbm
      pos absolute
      z-index 1
      t 0
      r 0
      size 40px
      background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAARCAQAAAB+puRPAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfjARcNGBwyaNJfAAAA30lEQVQoz32QPU4CcRBHH2TPQNDELNnGzhtgbSI2HoBGQ8P2FhyB1hL1EtYUhoRiEztsSIhgAa4HMFbPgvyB1c3+ppnJvPmsCQAJN5zTIOeFBxbsVAcgJSNiwBUDIjLSPYCYOrMlO4ud2Q8Rxn4V0lskN976dXo88U5RSx7phRFT23/qEdtOQ4cmH/zXJ81wxYaTEqDBJgBjOiXAJeOww8HGZVeEP8SF9JtpiCLgHnhlxDNrjuhwyw/Z4ScRE4dOnDtxaOKFuWf7EWV27drTKgC7rmxVAdh37nFNKnTH9y9AkMAQtzyvuQAAAABJRU5ErkJggg==') no-repeat center $red
      transition .7s background-color
      &:hover
        bgc $dred


.no-touchevents .popup-show
  mr 17px