html,
body
  font-family $os
body
  overflow-x hidden
  overflow-y scroll

.container
  w 100%
  max-width 1600px
  margin 0 auto
  @media $lDesktopMax
    max-width 1266px
  @media $desktopMax
    max-width calc(100% - 60px)
  @media $Mobile370
    max-width calc(100% - 40px)
  &_rel
    pos relative
    z-index 1

.main
  oh()
  pos relative
  h1:not([class])
    color $dark
    fontify 48px 700 54px
    margin 63px 0 44px
    @media $desktopMax
      fontify 38px 700 46px
    @media $PortraitMax
      fontify 36px 700 40px
  h2:not([class])
    color $dark
    fontify 38px 700 46px
    margin 62px 0 -3px
    @media $desktopMax
      fontify 26px 700 34px
    @media $PortraitMax
      fontify 30px 700 34px
  h3:not([class])
    color $dark
    fontify 26px 700 34px
    margin 65px 0 -2px
    @media $desktopMax
      fontify 20px 700 28px
  h4:not([class])
    color $dark
    fontify 20px 700 28px
    margin 56px 0 20px
    @media $desktopMax
      fontify 18px 700 26px
  iframe:not([class]),
  img:not([class])
    margin 5px 0
    max-width 100%
  ul:not([class])
    list-style  none
    margin -10px 0 20px
  ul:not([class]) li
    pl 40px
    pos relative
    fontify 18px 400 28px
    @media $lDesktopMax
      fontify 16px 400 26px
  ul:not([class]) li + li
    mt 12px
  ul:not([class]) > li:before
    content ""
    pos absolute
    l 0
    t 5px
    size 18px 18px
    background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASBAMAAACk4JNkAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAJFBMVEUAUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ7///9oxyfwAAAACnRSTlMAHt3JyA9+f97HYiJ0VgAAAAFiS0dECx/XxMAAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfjAg4NMh+uuy0IAAAAa0lEQVQI12NgAAJBBihgVBKAsoRWKUKFtEwWQQSFFod6KUKEXBlCwIJCSwIYWEGCIKF0hmCgIFCIbVUBq5Uig8TKAHYgy6uRgbFrKkM5Q8gKAZiORpgpK8BGCy0JBQuBbVshgOYCJFdBXAoAP9sX+1L5XdoAAAAASUVORK5CYII=') no-repeat center
  ol:not([class])
    list-style none
    margin -16px 0 20px
    counter-reset myCounter
  ol:not([class]) li
    pl 40px
    pos relative
    fontify 18px 400 28px
    @media $lDesktopMax
      fontify 16px 400 26px
  ol:not([class]) li + li
    mt 12px
  ol:not([class]) > li:before
    counter-increment myCounter
    content counter(myCounter)"."	
    pos absolute
    l 0
    t 0
    w 32px
    pr 9px
    color $blue
    fontify 18px 700 28px
    @media $lDesktopMax
      fontify 16px 400 26px
  p:not([class])
    fontify 18px 400 28px
    margin 26px 0
    @media $lDesktopMax
      fontify 16px 400 26px
  a:not([class])
    c inherit
    border-bottom 1px solid alpha($blue, .4)
    transition .5s border
    &:hover
      border-color transparent
 
  *:not([class]):not(span):first-child
    margin-top 0 !important
  *:not([class]):not(span):last-child
    margin-bottom 0 !important

  table
    tbody
      border 2px solid $gblue
      border-top 0
      tr:nth-child(2n-1)
        bgc #f7f8fc
    th
      c $blue
      fontify 18px 700 28px
      padding 13px 28px
      border-bottom 2px solid $blue
      text-align left
      @media $lDesktopMax
        fontify 16px 400 26px
    td
      c black
      padding 13px 28px
      fontify 18px 400 28px
      @media $lDesktopMax
        fontify 16px 400 26px

input::-webkit-input-placeholder
  color alpha(black, .5)
input::-moz-placeholder
  color alpha(black, .5)
input:-ms-input-placeholder
  color alpha(black, .5)
    
div[class\^="table-scroller"]
  overflow auto
  pos relative
  pl 1px
  margin -6px 0 33px
  @media $desktopMax
    w 100%

.text
  padding 62px 0
  @media $desktopMax
    padding 52px 0
  @media $LandscapeMedium
    padding-bottom 0
  &__content
    max-width 1052px
    margin 0 auto
    @media $desktopMax
      max-width 834px
    @media $desktopTablet
      max-width 100%
    
.common
  &__title
    pos relative
    z-index 1
    c $dark
    fontify 48px 700 48px
    @media $lDesktopMax
      fontify 38px 700 38px
    @media $Mobile370
      fontify 28px 700 38px
    &_white
      c white
  &__subtitle
    c $dark
    fontify 18px 400 28px
    @media $lDesktopMax
      fontify 16px 400 26px
  &__spacer
    margin 0 30px
    height 1px
    bgc #e0e0e0
    flex-grow 1
    mt 13px
    @media $PortraitMax
      dn()
  &__label
    c #a6a6a6
    fontify 16px 400 28px
    span 
      c $blue
  &__href
    mt 15px
    mr 19px
    pos relative
    c $dark
    fontify 17px 700 17px
    border-bottom 1px solid $blue
    transition .7s border-color
    @media $lDesktopMax
      fontify 16px 700 16px
      mt 11px
    @media $PortraitMax
      ib()
      mt 20px
    &:after
      content ""
      pos absolute
      r -19px
      t 3px
      size 7px 12px
      background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAMCAMAAACZS1ciAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAb1BMVEUAUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ7///+Dd/FRAAAAI3RSTlMADgsC5uAfxtwcEtDYFxXU0xjaxQq/4yQHuekor+ot8u8xHUjrypgAAAABYktHRCS0BvmZAAAACXBIWXMAAAsSAAALEgHS3X78AAAAB3RJTUUH4wEfDgsYkxjBYgAAAEtJREFUCNcdjEcCgCAQA1csWBC72Fv+/0cJOWQml4hESpg4SbMgGnlBlhVMTbENWkvpegyk0jAe44TZiSwrtt3PA+fFn/t5w4/72D+OdwOpheBHggAAAABJRU5ErkJggg==') no-repeat center
      @media $lDesktopMax
        r -14px
    &_white
      c white
      border-color white
      &:after
        filter brightness(0%) invert(1)
    &:hover
      border-color transparent
  &__sub
    display inline
    pos relative
    z-index 2
    c $blue
    fontify 21px 700 31px
    l 13px
    border-bottom 14px solid $shadow
    @media $desktopMedium
      fontify 18px 700 28px
    &-over
      max-width 370px
      @media $LandscapeMedium
        mb 35px
        max-width 100%
    span
      pos relative
      l -10px
      t 10px
      @media $LandscapeMedium
        br
          dn()
  &__back
    ib()
    c black
    fontify 16px 700 20px
    border-bottom 1px solid $blue
    transition .7s border
    &:hover
      border-color transparent
  &__input,
  &__textarea
    w 100%
    padding 0 20px
    border 1px solid white
    bgc white
    color black
    font-family $os
    font-size 18px
    line-height 400
    transition .7s border
    @media $lDesktopMax
      font-size 16px
    &:focus
      border-color $blue
    &:focus + ^[0]__placeholder,
    &.notempty + ^[0]__placeholder
      dn()
  &__input
    h 52px
  &__textarea
    line-height 28px
    h 196px
    padding 12px 20px
    overflow hidden
    resize none
    &_shorten
      h 104px
    @media $lDesktopMax
      line-height 26px
  &__inperror
    dn()
    c $red
    fontify 12px 400 16px
  &__sbm
    cursor pointer
    font-family $os
    mt 5px
    border-radius 5px
  &__select
    h 36px
    bgc #fff
    border 2px solid #b6b6b6
    w auto
    cursor pointer
    transition .7s border
    &.warning
      border-color $red
  &__placeholder
    pos absolute
    l 22px
    t 12px
    c #a6a6a6
    fontify 16px 400 28px
    span 
      c $blue
  &__row
    pos relative
    & + &
      mt 19px
  &__col
    w calc(50% - 22px)
    @media $lDesktopMax
      w calc(50% - 15px)
    @media $LandscapeMin
      w 100%
      & + &
        mt 19px
  &__submit
    pos relative
    mt 16px
    &:after
      content ""
      display inline-block
      vertical-align middle
      ml 11px
      size 6px 8px
      background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAICAQAAABwz0azAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfjARcMMxxF2kUBAAAARElEQVQI113MsQmAQADF0M9VziI3g1u4x43iHnbOoOvYWsmzEBFNFwiJatOLSCzYDbd0ZhxGiSgmnFrJi1/2GVTrs74AcOE7wetvz7gAAAAASUVORK5CYII=') no-repeat center
  &__fileover
    w 100%
    pos relative
    margin 28px 0 30px
    transition .7s border
    &.warning
      border-color $red
    & + &
      mt 20px
  &__file
    pos absolute
    w 0
    h 0
    l 0
    t 0
    opacity 0
    &name
      ib()
      pos relative
      l 45px
      cursor pointer
      color $dark
      fontify 14px 400 18px
      border-bottom 1px dashed $blue
      transition .7s border
      &.choosed,
      &:hover
        border-color transparent
      &:before
        content ""
        pos absolute
        l -40px
        t -1px
        size 19px 21px
        background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAVCAQAAAAOAB1aAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfjAg4ONjKNTgogAAABe0lEQVQoz22TP0ibURTFz5ek9M/Qyu8ZukjrVBARBHFxENpFMKVrB6cKDhm7uLWIQt1Euji4iuDQyewOlhqcCron7dp+EDIUwqc5Hb5nSL747nQP5937zr3nJdb4Cc+1rAn91nn6L0IuBAmf6WGM6bLFA8v30HYxt5xySJM+5pxnYzTWMRkrMVuihWkUaCzQw9SHkClSzLtRWoUDdgv1P2K+3SMhvzDIX2FapeIwUkthVT/DdATKkpKSJIVy2AmTg6nN6Vizeh/TDUmXeeF9zEVsUqWNOYrN1+iTsSiLOqbHG8viEU1Mk8eWxes75WKRjD5rcQNHmDbVWPkC89WyxAlmL8KbmA5zA5WT7FDOaW3MTIRfck3NGo+KMknRJumvMJ/eSCFJC8Yp6UrS28HUbiRJX8JBKI/wqGH+MjW0h1z5wnBTWTQwLZYiaYUM82H0bbJ4yndMnx8ccsotLq4/GomHbNONju3xKd/AcCR3ksITLeuFOjpL/4z/jv/9PREI9rctGgAAAABJRU5ErkJggg==') no-repeat center
      &.choosed + ^[-1]delete
        visibility visible
        cursor pointer
      &.choosed:after
        content ""
    &delete
      ib()
      visibility hidden
      mt 5px
      ml 50px
      size 9px
      background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAQAAABKmM6bAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfjAg4PAS9/jaz6AAAAT0lEQVQI10XMwQ3AIAxDUc/wp6FhI9pRq4oVYJFwCCnKJXq2LDrmyqPShTESqUwu+Y8BrkiNyROwycWN0+I/rZabCeVsxmjxbA9MfAkb3wVlRjzpdPRHWgAAAABJRU5ErkJggg==') no-repeat center
  
.fakecheckbox
  ib()
  pos relative
  mt 11px
  @media $LandscapeMin
    mt 0
  &__label
    max-width 100%
    ib()
    c $dark
    fontify 16px 400 26px
    pos relative
    pl 44px
    pt 2px
    @media $lDesktopMax
      fontify 14px 400 24px
    &:before 
      content ""
      pos absolute
      l 0px
      t 1px
      size 28px
      bgc #fcfdff
      border 1px solid $blue
      cursor pointer
      transition .7s border
    &:after
      content ""
      pos absolute
      size 15px 11px
      background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAALBAMAAABSacpvAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAJ1BMVEUAUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ7///89t3OTAAAAC3RSTlMAE8fGz83O1BXTFhHyZE8AAAABYktHRAyBs1FjAAAACXBIWXMAAAsSAAALEgHS3X78AAAAB3RJTUUH4wIBCzQ3kbpOkAAAADpJREFUCNdjYAADIQMIzegdAGGIbW+ACGRXIAkYCUAFoh2hKjq3CEJUcFSnbV8AVtm+uwqihSMULAAAUd0Ols1iiVEAAAAASUVORK5CYII=') no-repeat center
      l 8px
      t 10px
      opacity 0
      cursor pointer
      transition .7s opacity
    a
      color inherit
      border-bottom 1px solid $blue
      transition .7s border
      &:hover
        border-color transparent
  &__truecheck
    pos absolute
    l 0
    t 0
    w 0
    h 0
    border 0
    opacity 0
    &:checked + ^[0]__label:after
      opacity 1
    &.warning + ^[0]__label:before 
      border-color #ff0f37

body.index .main
  @media $LandscapeMax
    mb -95px

body:not(.index) .main
  pt 180px
  background url('../i/content__decor.png') repeat-y center top 400px
  @media $desktopMax
    background none
  @media $desktopMin
    pt 80px
  &:before
    content ""
    pos absolute
    t 0
    l 0
    size 100% 180px
    background-repeat repeat
    background-position top left
    background-image url('../i/sharp_g.png')
    @media $desktopMin
      dn()

.btn
  ib()
  pos relative
  padding 0 38px 4px
  border-radius 26px
  fontify 18px 700 44px
  transition .7s border-color, .7s background, .7s color
  border 2px solid $blue
  @media $lDesktopMax
    fontify 16px 700 32px
    padding 2px 28px 4px
  &:after
    content ""
    ib()
    ml 10px
    mt 17px
    size 7px 12px
    background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAMBAMAAABcu7ojAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAIVBMVEUAUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ7///8wq5InAAAACXRSTlMAA9LaHsHdD8j0ReHJAAAAAWJLR0QKaND0VgAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAd0SU1FB+MBHwwVJoW8N3gAAAAoSURBVAjXYxBkAAJlByARmQIkKqYBmeydYOZkAQgB5oIlwErAikHaABWLCR0XmD03AAAAAElFTkSuQmCC') no-repeat center
    transition .7s filter
    @media $lDesktopMax
      mt 11px
  &:not(&_empty)
    bgc $blue
    c white
    &:after
      filter brightness(0%) invert(1)
  &_empty
    c $blue
    border 2px solid $blue
    &:hover
      c white
      &:after
        filter brightness(0%) invert(1)
  &:hover
    bgc $dblue
    border-color $dblue


.breadcrumbs
  c alpha($dark, .5)
  mb 21px
  &__href
    color alpha($dark, .5)
    fontify 16px 400 26px
    border-bottom 1px solid
    transition .7s border
    @media $desktopMax
      fontify 14px 400 26px
    &:hover
      border-color transparent
  &__delim
    display inline-block
    vertical-align top
    margin 6px 16px 0

  & + h1:not([class])
    mt 0
      
input.warning,
textarea.warning
  border-color $red