html,
body
  font-family $os
body
  overflow-x hidden
  overflow-y scroll

.container
  w 100%
  max-width 1600px
  margin 0 auto
  @media $lDesktopMax
    max-width 1266px
  @media $desktopMax
    max-width calc(100% - 60px)
  @media $Mobile370
    max-width calc(100% - 40px)
  &_rel
    pos relative
    z-index 1
.main
  oh()
  pos relative
  &_index
    @media $LandscapeMax
      mb -95px
  h1:not([class])
    color $blue
    fontify 60px 900 66px
    margin 63px 0 48px
    text-align center
    @media $desktopMedium
      fontify 50px 700 50px
    @media $PortraitMax
      fontify 36px 700 40px
  h2:not([class])
    color $blue
    fontify 44px 700 50px
    margin 54px 0 -3px
    @media $desktopMedium
      fontify 40px 700 44px
    @media $PortraitMax
      fontify 30px 700 34px
  h3:not([class])
    color $blue
    fontify 32px 700 38px
    margin 56px 0 -2px
    @media $PortraitMax
      fontify 24px 700 30px
  h4:not([class])
    color $blue
    fontify 24px 700 30px
    margin 56px 0 20px
  iframe:not([class]),
  img:not([class])
    margin 7px 0
    max-width 100%
  ul:not([class])
    list-style  none
    margin -10px 0 20px
  ul:not([class]) li
    pl 32px
    pos relative
    fontify 18px 400 28px
    @media $lDesktopMax
      fontify 16px 400 26px
  ul:not([class]) li + li
    mt 15px
  ul:not([class]) > li:before
    content ""
    pos absolute
    l 0
    t 9px
    size 7px
    bgc $red
  ol:not([class])
    list-style none
    margin -11px 0 20px
    counter-reset myCounter
  ol:not([class]) li
    pl 32px
    pos relative
    fontify 18px 400 28px
    @media $lDesktopMax
      fontify 16px 400 26px
  ol:not([class]) li + li
    mt 15px
  ol:not([class]) > li:before
    counter-increment myCounter
    content counter(myCounter)"."	
    pos absolute
    l 0
    t 0
    w 32px
    pr 9px
    color $red
    fontify 18px 700 28px
    @media $lDesktopMax
      fontify 16px 400 26px
  p:not([class])
    fontify 18px 400 28px
    margin 22px 0
    @media $lDesktopMax
      fontify 16px 400 26px
  a:not([class])
    c inherit
    border-bottom 1px solid alpha($blue, .4)
    transition .5s border
    &:hover
      border-color transparent
 
  *:not([class]):not(span):first-child
    margin-top 0 !important
  *:not([class]):not(span):last-child
    margin-bottom 0 !important

  table
    tbody
      border 2px solid $gblue
      border-top 0
    th
      c white
      fontify 16px 700 26px
      bgc $blue
      padding 17px 24px
      text-align left
    td
      c black
      padding 12px 24px
      fontify 16px 400 26px
      text-align center
      border 1px solid $gblue

input::-webkit-input-placeholder
  color alpha(black, .5)
input::-moz-placeholder
  color alpha(black, .5)
input:-ms-input-placeholder
  color alpha(black, .5)
    
div[class\^="table-scroller"]
  overflow auto
  pos relative
  pl 1px
  margin -4px 0 33px
  @media $desktopMax
    w 100%

.text
  padding 62px 100px
  box-shadow 0 3px 43px rgba(0, 0, 0, 0.08)
  @media $desktopMax
    padding 52px 60px
  @media $LandscapeMedium
    box-shadow none
    mt 0
    padding 0
  &__content
    max-width 770px
    margin 0 auto
    @media $desktopMedium
      max-width 670px
    @media $LandscapeMedium
      max-width 100%
    
.common
  &__title
    pos relative
    z-index 1
    c $dark
    fontify 48px 700 48px
    @media $lDesktopMax
      fontify 38px 700 38px
    @media $Mobile370
      fontify 28px 700 38px
    &_white
      c white
  &__subtitle
    c $dark
    fontify 18px 400 28px
    @media $lDesktopMax
      fontify 16px 400 26px
  &__spacer
    margin 0 30px
    height 1px
    bgc #e0e0e0
    flex-grow 1
    mt 13px
    @media $PortraitMax
      dn()
  &__label
    c #a6a6a6
    fontify 16px 400 28px
    span 
      c $blue
  &__href
    mt 15px
    mr 19px
    pos relative
    c $dark
    fontify 17px 700 17px
    border-bottom 1px solid $blue
    transition .7s border-color
    @media $lDesktopMax
      fontify 16px 700 16px
      mt 11px
    @media $PortraitMax
      ib()
      mt 20px
    &:after
      content ""
      pos absolute
      r -19px
      t 3px
      size 7px 12px
      background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAMCAMAAACZS1ciAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAb1BMVEUAUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ7///+Dd/FRAAAAI3RSTlMADgsC5uAfxtwcEtDYFxXU0xjaxQq/4yQHuekor+ot8u8xHUjrypgAAAABYktHRCS0BvmZAAAACXBIWXMAAAsSAAALEgHS3X78AAAAB3RJTUUH4wEfDgsYkxjBYgAAAEtJREFUCNcdjEcCgCAQA1csWBC72Fv+/0cJOWQml4hESpg4SbMgGnlBlhVMTbENWkvpegyk0jAe44TZiSwrtt3PA+fFn/t5w4/72D+OdwOpheBHggAAAABJRU5ErkJggg==') no-repeat center
      @media $lDesktopMax
        r -14px
    &_white
      c white
      border-color white
      &:after
        filter brightness(0%) invert(1)
    &:hover
      border-color transparent
  &__sub
    display inline
    pos relative
    z-index 2
    c $blue
    fontify 21px 700 31px
    l 13px
    border-bottom 14px solid $shadow
    @media $desktopMedium
      fontify 18px 700 28px
    &-over
      max-width 370px
      @media $LandscapeMedium
        mb 35px
        max-width 100%
    span
      pos relative
      l -10px
      t 10px
      @media $LandscapeMedium
        br
          dn()
  &__back
    ib()
    c black
    fontify 16px 700 20px
    border-bottom 1px solid $blue
    transition .7s border
    &:hover
      border-color transparent
  &__input,
  &__textarea
    w 100%
    padding 0 20px
    border 1px solid white
    bgc white
    color black
    font-family $os
    font-size 18px
    line-height 400
    transition .7s border
    @media $lDesktopMax
      font-size 16px
    &:focus
      border-color $blue
    &:focus + ^[0]__placeholder,
    &.notempty + ^[0]__placeholder
      dn()
  &__input
    h 52px
  &__textarea
    line-height 28px
    h 196px
    padding 12px 20px
    overflow hidden
    resize none
    @media $lDesktopMax
      line-height 26px
  &__inperror
    dn()
    c $red
    fontify 12px 400 16px
  &__sbm
    cursor pointer
    font-family $os
    mt 5px
    border-radius 5px
  &__select
    h 36px
    bgc #fff
    border 2px solid #b6b6b6
    w auto
    cursor pointer
    transition .5s border
    &.warning
      border-color #ed1c24
  &__placeholder
    pos absolute
    l 22px
    t 12px
    c #a6a6a6
    fontify 16px 400 28px
    span 
      c $blue
  &__row
    pos relative
    & + &
      mt 19px
  &__col
    w calc(50% - 22px)
    @media $lDesktopMax
      w calc(50% - 15px)
    @media $LandscapeMin
      w 100%
      & + &
        mt 19px
  &__submit
    pos relative
    mt 16px
    &:after
      content ""
      display inline-block
      vertical-align middle
      ml 11px
      size 6px 8px
      background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAICAQAAABwz0azAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfjARcMMxxF2kUBAAAARElEQVQI113MsQmAQADF0M9VziI3g1u4x43iHnbOoOvYWsmzEBFNFwiJatOLSCzYDbd0ZhxGiSgmnFrJi1/2GVTrs74AcOE7wetvz7gAAAAASUVORK5CYII=') no-repeat center
  
.fakecheckbox
  ib()
  pos relative
  mt 11px
  @media $LandscapeMin
    mt 0
  &__label
    max-width 100%
    ib()
    c $dark
    fontify 16px 400 26px
    pos relative
    pl 44px
    pt 2px
    @media $lDesktopMax
      fontify 14px 400 24px
    &:before 
      content ""
      pos absolute
      l 0px
      t 1px
      size 28px
      bgc #fcfdff
      border 1px solid $blue
      cursor pointer
      transition .7s border
    &:after
      content ""
      pos absolute
      size 15px 11px
      background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAALBAMAAABSacpvAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAJ1BMVEUAUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ7///89t3OTAAAAC3RSTlMAE8fGz83O1BXTFhHyZE8AAAABYktHRAyBs1FjAAAACXBIWXMAAAsSAAALEgHS3X78AAAAB3RJTUUH4wIBCzQ3kbpOkAAAADpJREFUCNdjYAADIQMIzegdAGGIbW+ACGRXIAkYCUAFoh2hKjq3CEJUcFSnbV8AVtm+uwqihSMULAAAUd0Ols1iiVEAAAAASUVORK5CYII=') no-repeat center
      l 8px
      t 10px
      opacity 0
      cursor pointer
      transition .7s opacity
    a
      color inherit
      border-bottom 1px solid $blue
      transition .7s border
      &:hover
        border-color transparent
  &__truecheck
    pos absolute
    l 0
    t 0
    w 0
    h 0
    border 0
    opacity 0
    &:checked + ^[0]__label:after
      opacity 1
    &.warning + ^[0]__label:before 
      border-color #ff0f37

.btn
  ib()
  pos relative
  padding 0 38px 4px
  border-radius 26px
  fontify 18px 700 44px
  transition .7s border-color, .7s background, .7s color
  border 2px solid $blue
  @media $lDesktopMax
    fontify 16px 700 32px
    padding 2px 28px 4px
  &:after
    content ""
    ib()
    ml 10px
    mt 17px
    size 7px 12px
    background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAMBAMAAABcu7ojAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAIVBMVEUAUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ4AUZ7///8wq5InAAAACXRSTlMAA9LaHsHdD8j0ReHJAAAAAWJLR0QKaND0VgAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAd0SU1FB+MBHwwVJoW8N3gAAAAoSURBVAjXYxBkAAJlByARmQIkKqYBmeydYOZkAQgB5oIlwErAikHaABWLCR0XmD03AAAAAElFTkSuQmCC') no-repeat center
    transition .7s filter
    @media $lDesktopMax
      mt 11px
  &:not(&_empty)
    bgc $blue
    c white
    &:after
      filter brightness(0%) invert(1)
  &_empty
    c $blue
    border 2px solid $blue
    &:hover
      c white
      &:after
        filter brightness(0%) invert(1)
  &:hover
    bgc $dblue
    border-color $dblue


.breadcrumbs
  text-align center
  pl 18px
  color darkgrey
  mb 10px
  ml -10px
  w calc(100% + 10px)
  &__href
    color darkgrey
    fontify 10px 400 14px
    text-transform uppercase
    letter-spacing .1em
    border-bottom 1px solid
    transition .7s border
    &:hover
      border-color transparent
  &__delim
    display inline-block
    vertical-align top
    margin 5px 10px 0
    size 7px 11px
    background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAALCAQAAAAZmV8jAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfjARwNLCBxLNouAAAAT0lEQVQI103MIRZAUBRF0f1flBiRYkZMQzIKY5BkzURIsmD9t9y2T7hlbSwmFxAet01XyWivIfiHjxnKKnc4IzErxkj0Bnf88V0lCI22ghetuxYFLfnalAAAAABJRU5ErkJggg==') no-repeat center

  & + h1:not([class])
    mt 0
      
input.warning,
textarea.warning
  border-color $red