@font-face {
  font-family: 'PTSansPro';
  src: url('fonts/PTSansPro-Bold.woff2') format('woff2'),
    url('fonts/PTSansPro-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PTSansPro';
  src: url('fonts/PTSansPro-Regular.woff2') format('woff2'),
    url('fonts/PTSansPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

