.banner
  &_carousel
    mt 145px
    @media $desktopMax
      mt 100px
    @media $PortraitMedium
      mt 60px
  &__car
    &:not(&_inner)
      .swiper-slide
        df(center, flext-start)
        oh()
        padding 150px 0 40px
        min-height 95vh
        @media $desktopMax
          min-height 650px
          h 95vh
        @media $desktopMin
          pt 80px
          min-height 520px
        @media $PortraitMedium
          h auto
          padding 100px 0 60px
        &-active ^[0]__img
          transform scale(1.02)
        .container
          h 100%
          df(center, flex-end)
          @media $desktopMin
            justify-content flex-start
      .swiper-buttons
        @media $desktopTablet
          dn()
    &_inner
      .swiper-slide
        df(center, flext-start)
        oh()
        padding 40px 70px
        h 758px
        @media $desktopMax
          h 600px
          padding 30px
        @media $PortraitMedium
          h auto
          padding 30px 0
        &-active ^[0]__img
          transform scale(1.02)
        .container
          h 100%
          df(center, flex-start)
      .swiper-buttons
        @media $desktopTablet
          dn()
  &__block
    w 100%
    max-width 555px
    bgc white
    padding 40px 67px
    @media $lDesktopMax
      max-width 530px
    @media $desktopMin
      padding 34px 40px 40px
      max-width 70%
    @media $PortraitMax
      max-width 100%
    @media $PortraitMedium
      padding 0
      bgc transparent
    &_larger
      max-width 595px
      @media $desktopMax
        max-width 530px
  &__img
    pos absolute
    t 0
    l 0
    z-index -1
    size 100%
    object-fit cover
    font-family 'object-fit: cover;'
    transform scale(1)
    will-change transform
    transition 8s transform linear
    @media $PortraitMedium
      opacity .25
  &__title
    c $dark
    fontify 48px 700 58px
    @media $lDesktopMax
      fontify 38px 700 48px
    @media $desktopMin
      fontify 30px 700 40px
    @media $Mobile370
      fontify 28px 700 38px
  &__text
    c $dark
    fontify 18px 400 28px
    mt 10px
    @media $lDesktopMax
      fontify 16px 400 26px
      mt 13px
  &__more
    mt 25px