.developers
  mt 149px
  @media $lDesktopMax
    mt 117px
  @media $LandscapeMax
    mt 95px
  @media $Mobile
    margin-top 0
  &__car
    &-wrapper
      pos relative
      mt 75px
      @media $PortraitMedium
        mt 40px
      .swiper-buttons
        pos absolute
        z-index 1
        r 0
        t -96px
        @media $PortraitMedium
          t -64px
    .swiper-slide
      dfv(center, center)
      h 100px
      &:before
        content ""
        pos absolute
        size 1px 50px
        bgc #e0e0e0
        t 50%
        l -1px
        mt -25px
  &__href
    ib()
    max-width 75%
  &__img
    db()
    max-width 100%
    max-height 80px
    opacity .3
    filter grayscale(100%)
    transition .7s filter, .7s opacity
    &:hover
      opacity 1
      filter grayscale(0%)