.feedback
  mt 159px
  &__inner
    padding 72px 137px 80px
  &__form
    mt 47px
    &-top
      df(flex-start, space-between)
    &-bottom
      df(center, space-between)
      mt 22px
  &__top
    df()
    .common__subtitle
      ml 74px
      max-width 410px