.popular
  padding 152px 0 161px
  oh()
  pos relative
  z-index 1
  @media $lDesktopMax
    padding 133px 0 98px
  &__top
    max-width 1252px
    df(center, flex-start)
    @media $lDesktopMax
      max-width 1012px
  &__car
    &-wrapper
      pos relative
      mt 56px
      @media $lDesktopMax
        mt 46px
      .swiper-slide
        pt 28px
        pl 48px
      .swiper-buttons
        pos absolute
        z-index 1
        r 0
        t -68px
  &__item
    pos relative
    bgc white
    padding 166px 49px 43px
    text-align right
    mb 93px
    @media $lDesktopMax
      padding 119px 40px 33px
    &-img
      size 100%
      transform rotate3d(-1, 0, 0, 60deg)
      transform-origin top left
      transition 1s transform
      will-change transform
      ^[-1]:hover &
        transform rotate3d(0, 0, 0, 0)
      &over
        perspective 1000px
        pos absolute
        l -48px
        t -28px
        size 219px
        @media $lDesktopMax
          size 156px
    &-cost
      c $blue
      fontify 24px 700 26px
      @media $lDesktopMax
        fontify 20px 700 22px
    &-hrefover
      margin 15px 0 0 auto
      max-width 252px
      @media $lDesktopMax
        mt 10px
    &-href
      c $dark
      fontify 18px 400 28px
      border-bottom 1px solid $blue
      transition .7s border-color, .7s color
      @media $lDesktopMax
        fontify 16px 400 26px
      &:hover
        c $blue
        border-color transparent
    &-bottom
      pos absolute
      t 100%
      w 100%
      l 0
      padding 0 49px 50px
      bgc white
      visibility hidden
      opacity 0
      transition .7s visibility, .7s opacity, .7s top
      @media $lDesktopMax
        padding 0 40px 40px
      ^[-1]:hover &
        visibility visible
        opacity 1
        t calc(100% - 10px)
    &-btn
      w 100%
      text-align center
      &:after
        dn()